.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  padding-bottom: 40px;
}

/* .swiper-slide-prev {
  transform-origin: center right;
  opacity: 0.4;
} */
/* .swiper-slide-next {
  opacity: 0.4;
} */

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 居中激活项保持原尺寸 */
/* .swiper-slide-active {
  transform: scale(1) translateZ(0) !important;
  z-index: 1;
} */
