@font-face {
  font-family: 'GBold';
  src: url('./gilroy-bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GMedium';
  src: url('./gilroy-medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'G';
  src: url('./gilroy-regular.otf');
  font-weight: normal;
  font-style: normal;
}